.about {
  padding-block: getSize(60);
  background-color: $colorLight;
  &-video {
    position: relative;
    block-size: 500px;
    overflow: hidden;
    border-radius: 4px;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 5;
      background: $colorBgHero;
    }
    &-createx {
      display: block;
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
    &-play {
      @include abs-center;
      z-index: 10;
      @include flex-center(false);
      block-size: 80px;
      inline-size: 80px;
      border-radius: 100%;
      background-color: $colorPrimary;
    }
    &-play img {
      block-size: 26px;
      inline-size: 26px;
    }
    &-muted {
      @include flex-center(false);
      position: absolute;
      left: 32px;
      bottom: 32px;
      z-index: 10;
      block-size: 40px;
      inline-size: 40px;
      border-radius: 100%;
      background-color: $colorMutedBtn;
    }
    &-muted img {
      block-size: 20px;
      inline-size: 20px;
    }
  }
}
