.hero {
  background-color: $colorBgHero;
  background-image: linear-gradient(rgba(30, 33, 44, 0.6)),
    url('../images/bg-hero.jpg');
  @include bg-cover;
  min-block-size: 100dvh;
  &-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-block-size: 100dvh;
  }

  &-content {
    max-inline-size: 580px;
  }

  &-title {
    position: relative;
    margin-block-end: 24px;
    color: $colorLight;
  }

  &-title span {
    @include fluid-text(72, 40);
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: $colorPrimary;
  }

  &-descr {
    margin-block-end: 60px;
    color: $colorLight;
  }

  &-btns {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
