.portfolio {
  padding-block: getSize(60);
  background-color: $colorLight;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-offset {
      margin-block-end: 50px;
    }
  }

  &-title {
    @include fluid-text(46, 24);
    &-width {
      inline-size: 59%;
    }
  }

  .portfolio-slider {
    margin: -25px;
    padding: 25px;
    &-offset {
      margin-block-end: 80px;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    background-color: $colorLight;
    overflow: hidden;
    &-picture {
      @include flex-colum-center;
      & img {
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        border-radius: 4px 4px 0px 0px;
      }
    }
    &-body {
      @include flex-center(false);
      flex-direction: column;
      gap: 24px;
      inline-size: 100%;
      padding: 16px 20px 24px;
      background-color: $colorLight;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: translateY(-35%);
      }
    }
    &-content {
      @include flex-colum-center;
      gap: 5px;
      inline-size: 100%;
    }
    &-title {
      @include fluid-text(20, 14);
      font-weight: 700;
      line-height: 1.5;
      color: $titleColor;
    }
    &-description {
      @include fluid-text(14, 12);
      font-weight: 400;
      line-height: 1.5;
      color: $colorMainText;
    }
    &-btn {
      display: none;
      block-size: 44px;
      padding-inline: 32px 32px;
      border: 1px solid $colorPrimary;
      @include fluid-text(14, 12);
      color: $colorPrimary;
      background-color: transparent;
      box-shadow: inset 0 0 0 3rem transparent;
      transition: box-shadow 0.4s ease-in-out;
    }
  }
}
