.btn {
  @include flex-center(true);
  block-size: 52px;
  padding-inline: 40px 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  @include fluid-text(16, 10);
  font-weight: 700;
  line-height: 3.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $colorLight;
}

.btn-transparent--white {
  background-color: transparent;
  border: 1px solid $colorLight;
  box-shadow: inset 0 0 0 3rem transparent;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    border-color: $colorLight;
    box-shadow: inset 0 0 0 0 $colorLight;
    background-color: transparent;
    color: $colorLight;
  }
}

.btn-basic--primary {
  background-color: $colorPrimary;
  border: 1px solid $colorPrimary;
  box-shadow: inset 0 0 0 5rem $colorPrimary;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-color: $colorPrimary;
    box-shadow: inset 0 0 0 0 $colorPrimary;
    background-color: transparent;
    color: $colorPrimary;
  }
}
