.main-title {
  @include fluid-text(72, 40);
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: $titleColor;
}

.main-descr {
  @include fluid-text(20, 14);
  font-weight: 400;
  line-height: 1.5;
  color: $colorMainText;
}

.title {
  @include fluid-text(46, 24);
  font-weight: 700;
  line-height: 1.3;
  color: $titleColor;
  &--center {
    text-align: center;
  }
  &--offset {
    margin-block-end: 24px;
  }
}
.descr {
  @include fluid-text(18, 12);
  font-weight: 400;
  line-height: 1.5;
  color: $colorMainText;
  &--center {
    text-align: center;
  }
  &--offset {
    margin-block-end: 60px;
  }
}
