/* Source Sans Pro */
@font-face {
  font-family: 'Source Sans Pro';
  src: local('SourceSansPro-Light'),
    url('../fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
