//Colors
$colorLight: #ffffff;
$colorPrimary: #ff5a30;
$colorBgHero: rgba(30, 33, 44, 0.6);
$titleColor: #1e212c;
$colorMainText: #787a80;
$textColorHeader: #424551;
$textColorValue: #1e212c;
$colorMutedBtn: rgba(109, 127, 140, 0.8);
$colorBorder: #dadbdd;
$colorBgServises:#e5e8ed;
$colorBorderInput:#d7dadd;
$colorBgInput:#f4f5f6;
$colorPlaceholder:#9a9ca5;
$pageBgColor: #fff;

//Offset
$containerWidth: 1260px;
$containerPadding: 15px;
$buttonHeight: 52px;
