//Colors
$colorLight: #ffffff;
$colorAccent: #b9ff66;
$titleColor: #000;
$textColorHeader: #424551;
$textColorValue: #1e212c;
$pageBgColor: #fff;

//Offset
$containerWidth: 1260px;
$containerPadding: 15px;
$buttonHeight: 45px;
